.description-container {
    width: 1200px;
    margin: auto;
    padding-top: 20px; 
    text-align: center;
}

.description-container__discription {
    text-align: center; 
    min-height: 450px;   
}

.description-container__text {
    text-align: start;
    line-height: 20px;
    padding-top: 10px; 
}

.description-container__btn {
    padding-bottom: 15px;
}

.description-container__subtitle {
    text-align: left;
    padding-top: 25px;    
}
